name: Docker RustDesk Amd64

on:
  workflow_dispatch:

jobs:
  build-filebeat:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3
        
      - name: Log in to the Container registry
        uses: docker/login-action@v2.0.0
        with:
         registry: ghcr.io
         username: ${{ github.actor }}
         password: ${{ secrets.GITHUB_TOKEN }}
  
      - name: Build the RustDesk Docker image
        run: docker build --file rocky/9/rustdesk-server/1.1/Dockerfile --tag ghcr.io/${{ github.actor }}/rustdesk-server:1.1-rocky . 
    
      - name: Push the RustDesk Docker image
        run: docker push ghcr.io/${{ github.actor }}/rustdesk-server:1.1-rocky
